@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
}

html,
body{
   height: 100%;
}

body{
   display: grid;
   place-items: center;
   -webkit-font-smoothing: antialiased;

   --grey: hsl(240, 9%, 89%);
   --black: hsl(240, 6%, 13%);
}

/* Mobile layout */

main{
   background: url(images/background.svg) no-repeat center/cover;
   width: 100vw;
   min-height: 812px;
   height: 100vh;
}

.container{
   max-width: 250px;
   margin: 0 auto;
   text-align: center;

   color: var(--grey);
}

.avatar{
   width: 10rem;
   margin: 11.5rem auto 0;
   
   position: relative;
}

.avatar-selo{
   position: absolute;
   top: -15px;
   z-index: 1;
}

.avatar-foto{
   width: 10rem;
   height: 11.5rem;
   object-fit: cover;

   clip-path: polygon(50% 0,100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.user-name{
   font-size: 1.5rem;
   margin-top: 1.5rem;
}

.user-github-at{
   color: var(--grey);
   text-decoration: none;
   margin-top: 0.25rem;
   display: flex;
   gap: 0.75rem;
   justify-content: center;
   align-items: center;
}

.user-desciption{
   margin-top: 2rem;
}

.social-media{
   margin-top: 4rem;
   list-style: none;
   padding: 0;
   display: flex;
   gap: 0.5rem;
   justify-content: center;
}

@media (min-width: 600px){
   main{
      background: url(./images/bg-desk.svg) no-repeat center/cover;
   }

   .container{
      padding-top: 5rem;
   }
}